body {

    padding: 0;
    margin: 0;

}

.no-padding {

    padding: 0 !important;

}

.full-sidebar {

    min-height: 100vh;

}

.panel-navbar {

    right: 1vw;
    top: 1vh;
    position: fixed;
    
}

.green-button {

    border-color: #9BC243;
    color: #9BC243;

}

.green-button:hover {

    background-color: #9BC243;
    border-color: #9BC243;
    color: white;

}

.my-4 {

    margin-top: 32px;
    margin-bottom: 32px;

}